/* Load custom font */
@font-face {
    font-family: "Rollerblade Pro";
    src: url("ttf/rb.woff") format("woff"),
         url("ttf/rb.woff2") format("woff2");
    font-display: swap;
}

/* Apply to whole site */
body {
    margin: 0;
    color: white;
    font-family: "Rollerblade Pro", Arial, sans-serif;
}

/* Optional content styling */
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 40vh;
}
