/* Load custom font */
@font-face {
	font-family: 'rb';
	src: url("/woff2/rollerblade-pro.woff2") format('woff2'),
		 url("/woff2/rollerblade-pro.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Apply to whole site */
body {
    margin: 0;
    color: white;
    font-family: 'rb', sans-serif;
}

/* Optional content styling */
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 40vh;
}
